<template>
  <button class='btn p-4 m-2'>
    <slot />
  </button>
</template>

<script lang='ts'>
export enum EButtonApperanceType {
  primary = "btn-primary",
  secondary = "btn-secondary",
  accent = "btn-accent",
  ghost = "btn-ghost",
  success = "btn-success",
  error = "btn-error",
  link = "btn-link",
}
export interface IButtonProps {
  btnType?: EButtonApperanceType
  className?: string;
}

//  Todo Define emits
//    onClick?: any
</script>

<script setup lang='ts'>
withDefaults(defineProps<IButtonProps>(), {
  btnType: EButtonApperanceType.primary,
})

</script>
