<template>
  <div class='m-2'>
    <h2>Setup</h2>
    <button class='btn btn-primary m-4' @click='log(msg)'>Log</button>

    <button class='btn btn-primary' @click='incr'>Incr</button>
    <p>Res: {{ x }}</p>
  </div>
</template>

<script setup lang='ts'>
interface ISetupProps {
  start?: number
}

const { start } = withDefaults(defineProps<ISetupProps>(), {
  start: 0,
})


let x = ref(start)
const incr = () => {
  console.log('incr', x.value + 1)
  return x.value = x.value + 1
}

</script>


<script lang='ts'>
import { log } from '~/helpers/log'

const msg = 'Hello!'
</script>
