<template>
  <Button :key='key' v-for='[ key, value ] in Object.entries(EButtonApperanceType)' :class='`${value}`'>
    {{ key.toUpperCase() }}
  </Button>
</template>

<script setup lang='ts'>
import Button, {
  EButtonApperanceType,
  IButtonProps
} from '~/components/atom/Button.vue'

</script>
